[user]
	email = thomas.brisbout@gmail.com
	name = Thomas BRISBOUT
[push]
	default = simple
[alias]
	st = status
	s = status -s
	co = checkout
	ci = commit
	amend = commit --amend --no-edit
	aa = add -A
	ap = add -p
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	last = log -1
	br = branch
	dif = diff --color-words=.
	gh-pages = subtree push --prefix dist origin gh-pages
	dc = diff --cached
[core]
	pager = diff-so-fancy | less --tabs=4 -RFX
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
