[user]
	email = thomas.brisbout@gmail.com
	name = Thomas BRISBOUT
[push]
	default = simple
[alias]
	st = status
	s = status -s
	co = checkout
	ci = commit
	amend = commit --amend --no-edit
	aa = add -A
	ap = add -p
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	last = log -1
	br = branch
	dif = diff --color-words=.
	dc = diff --cached
	undo = checkout -p
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
  navigate = true
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[color]
	ui = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[init]
	defaultBranch = main
